@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#Hero-Section {
    background-image: url("https://images.unsplash.com/photo-1614624532983-4ce03382d63d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1331&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 710px;
}

#about {
    color: black;
    text-align: center;
}

#h1-1 {
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    /* text-align: center; */
    position: relative;
    right: 135px;
    padding-top: 30px;
    padding-bottom: 0px;
    /* position: absolute;
    right: 350px; */
}

#name {
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#h1-2 {
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    /* position: absolute;
    right: 350px; */
}

#Black-Box-Section {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}

#Black-Box-Section span {
    font-size: 50px;
}

#Card-Container-Section {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 250px);
    gap: 30px;
    padding: 40px;
}

#app, #web, #ux{
    box-shadow: 2px 4px 6px 2px rgba(0,0,0,0.2);
    border-radius: 10px;
    height: 340px;
}


#app img, #web img, #ux img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

#ux img {
    height: 170px;
    /* object-fit: cover; */
}

h4 {
    padding: 15px 15px 11px 15px;
}

#para1, #para2, #para3 {
    padding: 0 15px 15px 15px;
    font-size: 15px;
}

.contact {
    background-color: rgb(4, 85, 4);
    width: 600px;
    height: 200px;
    padding: 25px;
}

.contact h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
}

.contact nav {
    padding-top: 15px;
}

.aboutMe {
    background-color: rgb(137, 43, 9);
    width: 600px;
    height: 200px;
    padding: 25px;
}

.aboutMe h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
}

.aboutMe p:last-child {
    padding-top: 15px;
}

#Bottom-Section {
    display: flex;
    justify-content: space-around;
}


@media screen and (max-width: 768px) {
  #Hero-Section {
    height: 500px; 
    background-size: cover;
  }
    #h1-1 {
      font-size: 30px;
      right: 0;
    }
    #h1-2 {
      font-size: 30px;
      right: 0;
    }
  }
  
  
  @media screen and (max-width: 768px) {
    #Card-Container-Section {
      grid-template-columns: repeat(1, 100%);
      padding: 20px;
    }
  }
  
  @media screen and (max-width: 768px) {
    #app,
    #web,
    #ux {
      height: auto;
      max-width: 300px;
      margin: 0 auto;
    }
    #app img,
    #web img,
    #ux img {
      border-radius: 10px;
    }
  }

  @media screen and (max-width: 768px) {
    #Bottom-Section {
      flex-direction: column;
    }
    .contact,
    .aboutMe {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  

  @media screen and (max-width: 500px) {
    #Black-Box-Section p {
      font-size: 30px;
    }
    #Black-Box-Section span {
      font-size: 40px;
    }
}